---
layout: default
title: Homepage
---

<article class="main-article">
  <div class="wrap-content">
    <header class="header-article">
      <h2 class="title-article"><a href="{{"/about/" | prepend: site.baseurl}}">MySelf</a></h2>
    <p>I am an undergraduate at Indian Institute of Technology Bombay(IITB). Most of my work is in the field of machine learning. However, my particular interests are Deep Learning and Computer Vision. I am vegetarian and yet a foodie. I like to keep my work-space clean and my naps sound. You can know more about me <a href="{{"/about/" | prepend: site.baseurl}}">here</a>.</p>
  </div>
</article>


<!-- <article class = "main-article">

  <div class="wrap-content">

    <header class = "header-article">

        Hello

    </header>

  </div>

</article> -->

<!-- {% for post in paginator.posts %}
<article class="main-article">
  <div class="wrap-content">
    <header class="header-article">
      <h2 class="title-article"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <div class="post-date"><span>{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
    </header>
    {% if post.img %}
       <img class="post-image" src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
    {% endif %}
    <p>{{post.description}} <a class="more" href="{{post.url | prepend: site.baseurl}}">(Read more...)</a></p>
  </div>
</article>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
  {% else %}
    <span class="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  {% else %}
    <span class="next ">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
  {% endif %}
</div> -->

